---
import PostCard from './PostCard.astro';
import { getListPosts } from '../data/posts';

const list = getListPosts();
---

<section id="journal" class="relative z-10 mx-auto max-w-310 px-8 pb-10 pt-9">
  <div class="grid grid-cols-[repeat(auto-fill,minmax(340px,1fr))] gap-5.5">
    {list.map((post) => <PostCard post={post} />)}
  </div>
</section>
